# Posttest 4 Supervised
## Ahmad Zidan Maulidinnur
## 2009106018
## Kecerdasan Buatan A2 2020

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
import warnings

In [3]:
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv("Stroke.csv")

In [5]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [6]:
dfCat = df.select_dtypes(include=['object'])

for i in dfCat.columns:
    print(dfCat[i].value_counts())
    print("\n")

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64


Yes    3353
No     1757
Name: ever_married, dtype: int64


Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64


Urban    2596
Rural    2514
Name: Residence_type, dtype: int64


never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

## Preprocessing
## Duplicated Handling

In [7]:
df.duplicated().sum()

0

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.duplicated().sum()

0

## Data Encoding

In [13]:
x = df.drop('stroke',axis=1)
Y = df[['stroke']]

In [15]:
x.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
dtype: object

### Mengubah Data Objek Menjadi Numerikal

In [16]:
x = pd.get_dummies(x)
x.head()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,9046,67.0,0,1,228.69,36.6,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
1,51676,61.0,0,0,202.21,NaN,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
2,31112,80.0,0,1,105.92,32.5,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
3,60182,49.0,0,0,171.23,34.4,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1
4,1665,79.0,1,0,174.12,24.0,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0

## Data Split

In [17]:
df['stroke'].value_counts()

0    4861
1     249
Name: stroke, dtype: int64

### Karena Data Inbalance Maka Stratify Akan Digunakan Pada Attribute Income

In [18]:
X_train, X_test, y_train, y_test = train_test_split(x, Y, test_size=0.3, stratify=Y)

### Menggunakan Text Size Sebear 30%

## Data Standarisasi

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
ss = StandardScaler()

In [37]:
x_scaled_train = ss.fit_transform(X_train)
x_scaled_test = ss.fit_transform(X_test)

## # Pendekatan Supervised Learning - Klasifikasi

### Algoritma 1
### - Melatih Model Dengan Data Training
### - Memprediksi Model Yang Datanya Sudah Ditrain
### - Round(Accuracy_Classifier,3) Maksudnya Adalah Hasilnya Dibulatkan Menjadi 3 Angka Dibelakang Koma

### Gunakan Minimal 2 Algoritma Untuk Dibandingkan Score Terbaiknya
### - Algortima Gaussian Naive Bayes
### - Algoritma Satunya KNN Yang Sudah Diterapkan Diatas Tadi

In [28]:
classifier = GaussianNB()

### Melatih Model Dari Gaussian Classifier